@import "/css/variables.css";
@import "/css/debug.css";


/* HEADER */

header {
    background-color: var(--brand-blue);
    color: white;
}

/* JUMBO */

.jumbo {
    background-color: var(--brand-green);
}