@import "/css/_partials/variables.css";
@import "/css/_partials/colors.css";
@import "/css/debug.css";

/* HEADER */

header {
    background-color: var(--brand-blue);
    color: white;
}

/* JUMBO */

.jumbo {
    background-color: var(--brand-green);
}