:root {
    --brand-blue: #2c3e50;
    --brand-green: #1abc9c;
    --brand-red: #ba4b63;
    --brand-aqua: #1ea4b6;
    --brand-black: #140f0f;
    --brand-pastel-blue: #1c83c1;
    --blue: #0e38b5;
    --beige: #ccb2a3;
}