.separator-component {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.separator-content {
    font-size: 24px; /* Adjust the font size of the icon inside the separator */
    color: white;
    position: relative;
    margin: 0 10px;
}

.separator-component::before,
.separator-component::after {
    content: "";
    width: 20%;
    height: 4px; /* Adjust the height of the separating lines */
    background-color: white; /* Adjust the color as needed */
}
