.separator-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator-content {
    font-size: 24px; /* Adjust the font size of the icon inside the separator */
    color: inherit;
    margin: 0 10px;
}

/* It is possible to give a max width to the pseudo elements so that they don't stretch beyond a certain point */
.separator-component::before,
.separator-component::after {
    content: "";
    width: 20%;
    height: 4px; /* Adjust the height of the separating lines */
    background-color: currentcolor; /* gets the color from the icon */
}
